.footer {
  @extend .row-c-c, .w-100;
  height: 64px;
  padding: 0 1rem;
  background: #452a83;
  color: white;

  &--row {
    @extend .row-c-c;
    height: 100%;
    gap: 0.5rem;
  }

  a {
    @extend .row-c-c;

    height: 100%;
    padding: 0 1rem;
    font-weight: 500;

    &:hover {
      background: rgba(253, 133, 255, 0.8);
    }
  }
}
