.auction {
  @extend .w-100, .row-c-c;

  label {
    font-size: 1rem;
    font-weight: 500;
    color: #452a83;
    opacity: 0.5;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #452a83;
    opacity: 0.8;
    margin: 0;
  }

  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 244, 255, 0) 0%, rgba(251, 38, 255, 0.33) 100%),
    linear-gradient(180deg, rgba(255, 68, 68, 0) 0%, rgba(60, 0, 255, 0.1) 100%),
    radial-gradient(118.02% 164.92% at 50% 100%, rgba(255, 153, 0, 0) 0%, rgba(98, 0, 255, 0.25) 100%), #fffcf5;
  background-blend-mode: soft-light, overlay, multiply, normal;
  padding: calc(64px + 4rem) 0 4rem 0;
  min-height: 480px;
  border-bottom: 1px solid #452a8309;

  @include tabletandmobile {
    padding: calc(64px + 2rem) 1rem 1rem 1rem;
  }

  &--token {
    color: white;
    font-size: 2rem;
    background: #8465cc;
    padding-top: 100%;
    border-radius: 0.66rem;
    @include tabletandmobile {
      width: 200px;
      height: 200px;
      padding: 0;
    }
  }
  &--grid {
    @extend .w-100;
    max-width: 840px;
    margin: 0 auto;
    grid-gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include tabletandmobile {
      grid-template-columns: 1fr;
      padding: 1rem;
    }
  }
  &--divider {
    height: auto;
    width: 2px;
    border-radius: 100px;
    background: #452a83;
    opacity: 0.15;

    &.vertical {
      height: 2px;
      width: 100%;
    }
  }
  &--col {
    @extend .col;
    gap: 0.5rem;
  }
  &--row {
    @extend .row-fs-c;
    gap: 0.5rem;
  }
  &--nav-button {
    @extend .row-c-c;
    height: 2rem;
    width: 2rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(25px);
    font-weight: 500;
    font-size: 1rem;
    border: none;
    padding: 0;
    border-radius: 100px;

    svg {
      height: 0.75rem;
      width: 0.75rem;
      fill: #452a83;
      opacity: 0.66;
    }

    &:hover {
      opacity: 1;
      filter: brightness(125%);
    }
  }
  &--input {
    @extend .row-c-c;
    padding: 0.66rem;
    border: none;
    border-radius: 0.5rem;
    gap: 0.5rem;
    transition: all 150ms;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(25px);
    font-size: 1rem;
    width: auto;
    flex: 1;
    color: #452a83;
    font-weight: 500;

    &::placeholder {
      color: #452a83;
      opacity: 0.66;
      font-weight: 500;
      font-size: 1rem;
    }
  }
  &--bid {
    @extend .row-fs-c, .w-100;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;

    * {
      pointer-events: none;
    }

    &:hover {
      background: #452a8315;
    }

    &-button {
      font-size: 1rem;
      background: #8465cc;
      padding: 0.66rem 1rem;
      white-space: nowrap;
      border: none;
      color: white;
    }
  }
  &--info {
    @extend .col;
    gap: 0.5rem;
  }
}
