@mixin flex-layout-generator() {
  $directions: (
    "row": row,
    "col": column,
  );
  $spacings: (
    "fs": flex-start,
    "fe": flex-end,
    "c": center,
    "sb": space-between,
    "sa": space-around,
  );

  @each $direction, $direction-value in $directions {
    .#{$direction} {
      display: flex;
      flex-direction: $direction-value;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @each $main-axis, $main-value in $spacings {
      @each $secondary-axis, $secondary-value in $spacings {
        .#{$direction}-#{$main-axis}-#{$secondary-axis} {
          display: flex;
          flex-direction: $direction-value;
          justify-content: $main-value;
          align-items: $secondary-value;
        }
      }
    }
  }
}
