.header {
  @extend .row-c-c, .w-100;
  position: fixed;
  top: 0;
  height: 64px;
  // background: rgba(255, 255, 255, 0.95);
  // backdrop-filter: blur(10px);
  z-index: 99999;

  &--logo {
    @extend .row-c-c;
    gap: 0.5rem;
    div {
      height: 20px;
      width: 20px;
      background: #8465cc;
      border-radius: 0.1rem;
    }
  }
  &--row {
    @extend .row-sb-c;
    gap: 0.5rem;
  }
  &--inner {
    @extend .row-sb-c, .w-100;
    max-width: 1080px;
  }
  &--buttons {
    @extend .row-c-c;
    gap: 0.25rem;
  }
  button {
    text-transform: capitalize;
    margin: 0;
    background: white;
  }
}
